.logo{
	width:20%;
	margin-left:10px;
    }

    .title {
	background-color:#2a5a68;
	margin-top:-10px;
	width:101.3%;
	margin-left:-0.7%;
    }

    .heading {
	margin-top:-30px;
	margin-left:0px;
	color:white;
	letter-spacing:2px;
}

.button {
	background-color: #2a5a68; /* Green */
	border: 2px solid white;
	color: white;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	cursor: pointer;
	width: 140px;
	display: block;
	border-radius: 16px;
	margin-top:10px;
	margin-left:10%;
}
/*button container*/
.btn-group {
	background-image: url("images/ndege2.jpg");
	margin-left:-0.6%;
	margin-top:-1.66%;
	width:18%;
	border-radius:5px;
	padding-top: -200px;	
}

.btn-group .button:hover {
  background-color: #707374;
}

        body{
            background-image: url("images/paper.jpg");
            background-repeat: repeat;
        }

        .seatPlan{
            width:325px;
            margin:auto;
            height:auto;
            background:white;
            padding:10px;
            margin-left: 900px;
            margin-top: -420px;
        }

        input[type=button]{
            background:skyblue;
            width:70px;
            padding:10px;
            font-size:20px;
            font-weight:bold;
            border-radius:5px;
        }

        input[type=text]{
            width:320px;
            padding:10px;
            font-size:20px;
            margin-top:20px;
            border-radius:5px;
        }

        
        input[type=date]{
            width:320px;
            padding:10px;
            font-size:20px;
            margin-top:20px;
            border-radius:5px;
        }
            
        input[type=number]{
            width:320px;
            padding:10px;
            font-size:20px;
            margin-top:20px;
            border-radius:5px;
        }

        button{
            width:450px;
            padding:10px;
            font-size:22px;
            font-weight:bold;
            margin-top:20px;
            border-radius:5px;
            background:#3498DB;
            color:white;
        }

        /*div{
            display:inline-block;
        }*/
        .information{
        margin-left: 350px;
        margin-top: -330px;

        }

        .container {
        position: relative;
        width:18%;
        height:100px;
        padding-top: 10px;
        margin-left:-0.6%;
        margin-top:-217px;
        border-radius:8px;
        background-color:#2a5a68;
        padding-bottom:10%;
        }
        .overlay {
        position: absolute; 
        bottom: 0; 
        background: rgb(0, 0, 0);
        background: rgba(0, 0, 0, 0.5); /* Black see-through */
        color: #f1f1f1; 
        width: 83%;
        transition: .5s ease;
        opacity:0;
        color: white;
        font-size: 20px;
        padding: 20px;
        text-align: center;
    
}

.container:hover .overlay {
  opacity: 2;
}