
/*start of fixed piece*/
.logo{
	width:20%;
	margin-left:38px;
}
.title {
	background-color:#2a5a68;
	margin-top:-10px;
	width:101.3%;
	margin-left:-0.7%;
}

.heading {
	margin-top:-30px;
	margin-left:50px;
	color:white;
	letter-spacing:2px;
}

.button {
	background-color: #2a5a68; /* Green */
	border: 2px solid white;
	color: white;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	cursor: pointer;
	width: 140px;
	display: block;
	border-radius: 16px;
	margin-top:10px;
	margin-left:10%;
}
/*button container*/
.btn-group {
	background-image: url("images/ndege2.jpg");
	margin-left:-0.6%;
	margin-top:-1.66%;
	width:18%;
	border-radius:5px;
		
}

.btn-group .button:hover {
  background-color: #707374;
}


body {
    background-image: url("images/paper.jpg");
    background-repeat: repeat;
}

.container {
  position: relative;
  width:18%;
  height:100px;
  padding-top: 10px;
  margin-left:-0.6%;
  margin-top:0%;
  border-radius:8px;
  background-color:#2a5a68;
  padding-bottom:10%;
  
  
  
  }
  
  .overlay {
  position: absolute; 
  bottom: 0; 
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1; 
  width: 83%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
    
}

.container:hover .overlay {
  opacity: 2;
}

/*end of fixed piece............fixed part end dont modify any of the codes above*/





/*form css starts here downward............*/


/*root css details side starts...................*/
.form-inline {  

  margin-top:-30%;
  margin-left:25%;
  background-color:#2a5a68;
  width:25%;
  
}

.form-inline label {
 margin-left:10%;
 color:white;
  }

.root-heading {
	margin-left:0%;
	background-color:white;
	border-radius:0px 0px 8px 8px;
	text-align:center;
}

.form-inline input {
  
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius:6px;
  margin-left:10%;
  margin-bottom:2%;
  
}
.form-inline select {
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius:6px;
  margin-left:10%;
  margin-bottom:2%;
  
}

/*root css details side ends..........*/



/*bus side starts here................*/
.bus-details-form{
	background-color:#2a5a68;
	margin-left:60%;
	width:25%;
	margin-top:-27.5%;
	
}
.bus-heading{
	background-color:white;
	border-radius:0px 0px 8px 8px;
	text-align:center;
}

.bus-details-form input {
  
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius:6px;
  margin-left:10%;
  margin-bottom:2%;
}

.bus-details-form select {
   
	padding: 10px;
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius:6px;
	margin-left:10%;
	margin-bottom:2%;
  }

.bus-details-form  label {
 margin-left:10%;
 color:white;
  }

  .bus-details-form select{
	margin-left:10%;
	color:black;
	
	 }
  /*bus side ends here................*/
  
  
.file-button {
	background-color:#2a5a68;
	margin-left:26%;
	padding: 10px 20px;
	background-color: #2a5a68;
	border: 1px solid #ddd;
	color: white;
	cursor: pointer;
	border-radius:10px;
	margin-top:-1%;
	
}
.upload-title {
	margin-left:26%;
	margin-top:1%;
	
}


.submit-button {
	background-color:#2a5a68;
	margin-left:75%;
	
}

 button {
	padding: 10px 20px;
	background-color: #2a5a68;
	border: 1px solid #ddd;
	color: white;
	cursor: pointer;
	border-radius:10px;
	margin-left:0%;
}

 button:hover {
	background-color: #707374;
}


.whole-form {
	margin-top:-40%;
}
/*form css ends here downward............*/